<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.htht.pro.mapper.CovidMeetingInfectedMapper">

	<select id="getPageList" resultType="covid.CovidMeetingInfected" parameterType="covid.CovidMeetingInfected">
		
		SELECT 
			c.id as "id",
			c.user_id as "userId",
			c.address_name as "addressName",
			c.create_time as "createTime",
			c.start_time as "startTime",
			c.create_user_id as "createUserId",
			c.update_time as "updateTime",
			c.update_user_id as "updateUserId",
			cu.user_name as "userName",
			cu.is_infect as "isInfect"
	
		FROM covid_meeting_infected c
		LEFT JOIN covid_user cu ON c.user_id = cu.user_id
		WHERE 1=1
		<if test="userName !=null and userName !=''">
			and cu.user_name like CONCAT('%',#{userName},'%')
		</if>
		<if test="addressName !=null and addressName !=''">
			and c.address_name like CONCAT('%',#{addressName},'%')
		</if>
		ORDER BY c.create_time desc LIMIT ${(currentPageNo-1)*pageSize},#{pageSize}
	</select>
	
	<select id="getPageListCount" resultType="int" parameterType="covid.CovidMeetingInfected">
		SELECT
			count(1) as count
		FROM covid_meeting_infected c
		LEFT JOIN covid_user cu ON c.user_id = cu.user_id
		WHERE 1=1
		<if test="userName !=null and userName !=''">
			and cu.user_name like CONCAT('%',#{userName},'%')
		</if>
		<if test="addressName !=null and addressName !=''">
			and c.address_name like CONCAT('%',#{addressName},'%')
		</if>
	</select>
	
	<select id="getAppPageList" resultType="covid.CovidMeetingInfected" parameterType="covid.CovidMeetingInfected">
		
		SELECT 
			c.id as "id",
			c.user_id as "userId",
			c.address_name as "addressName",
			c.start_time as "startTime",
			c.create_time as "createTime",
			c.create_user_id as "createUserId",
			c.update_time as "updateTime",
			c.update_user_id as "updateUserId",
			cu.user_name as "userName",
			cu.is_infect as "isInfect"
	
		FROM covid_meeting_infected c
		LEFT JOIN covid_user cu ON c.user_id = cu.user_id
		WHERE 1=1
		<if test="userId !=null and userId !=''">
			and c.user_id = #{userId}
		</if>
		ORDER BY c.create_time desc LIMIT ${(currentPageNo-1)*pageSize},#{pageSize}
	</select>
	
	<select id="getAppPageListCount" resultType="int" parameterType="covid.CovidMeetingInfected">
		SELECT
			count(1) as count
		FROM covid_meeting_infected c
		LEFT JOIN covid_user cu ON c.user_id = cu.user_id
		WHERE 1=1
		<if test="userId !=null and userId !=''">
			and c.user_id = #{userId}
		</if>
	</select>
	
	<insert id="add" parameterType="String">
		INSERT INTO 
			covid_meeting_infected (id,user_id,address_name,start_time,
			create_time,create_user_id,update_time,update_user_id)
		VALUES(
			#{covidMeetingInfected.id},#{covidMeetingInfected.userId},#{covidMeetingInfected.addressName},#{covidMeetingInfected.startTime},
			now(),#{covidMeetingInfected.createUserId},now(),#{covidMeetingInfected.updateUserId})
	</insert>
	
</mapper>